/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  
  
  
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}



a {
  color: inherit;
  text-decoration: none;
}

/* GRID */

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: 15px;
}



/* UTILS */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.img-round {
  border-radius: 50%;
  height: 100%;
  line-height: 100px;
  width: 100%;
  overflow: hidden;
  color: red;
  background-color: white;
  text-align: center;
  font-size: 3rem;
}
.img-round > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* DEBUG */

.debug {
  min-height: 80px;
  background-color: #888;
  padding: 2rem;
}

/* HEADER */
#header {
  background-color: #0084FD;
}
#header .container {
  display: flex;
  justify-content: space-between;
}
#header > .container > .logo {
  padding: 10px;
 
}
#header > .container > nav {
line-height: 4; 
}
#header > .container > nav li {
  display: inline;
  margin-left: 30px;
  color: white;
}
#header > .container > nav li span {
  color: black;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: white;
}
#menu-tablet {
  display: none;
}

#demo-app .col {
  width: calc(100% / 3);
}

#demo-app .col:first-child {
  width: calc(100% / 3 * 2);
}

#demo-app .card .col {
  width: 50%;
  padding-top: 0;
  padding-bottom: 0;
  
}
#demo-app .card {
  background-color: #b5ddff ;
  padding: 1rem;
  height: 100%;
}
#appstore {
  color: white;
  background-color: #0084FD;
  border-radius: 10%;
}
#demo-app h4 {
  color: #0084FD;
}
#demo-app p {
  margin-top: 25px;
  margin-bottom:45px;
}
#appstore {
  padding: 5px 30px;
}

#phone {
  position: relative;
  bottom: -6%;
}

#demo-app .container .row .col:nth-of-type(2) {
  text-align: center;
}
#demo-app .container .row .col:nth-of-type(3) {
  text-align: center;
}
#demo-app .container .row .col:nth-of-type(4) {
  text-align: center;
}
#demo-app .container .row .col:nth-of-type(5) {
  text-align: center;
}

#demo-app .container .row .col h4
 {
  margin-top: 50px;

}
#demo-app .container .row .col i {
  margin-top: 20px;
  
}


#planning .container {
  max-width: 900px;
}
#planning .row {
align-items: flex-end;
}

#planning .col {
  width: 50%;
 
}

#planning .card {
  background-color: white;
  padding: 1rem;
  color: pink ;
}
#testimonials .card {
  background-color: #0084FD;
  color: white;
  margin: 2rem 0;
}
#testimonials .col.col-left {
  width: 30%;
}

#testimonials .col.col-right {
  width: 70%;
}
.testimonial-img,
.testimonial-description {
  padding: 0 1rem;
}








/* TABLET MEDIA */
@media screen and (max-width: 768px) {
  #demo-app .card .col {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #header {
    width: 100%;
  }
  #header nav {
    display: none;

  }
  #menu-tablet {
    display: block;
    line-height: 4;
  }
  #phone {
    position: relative;
    bottom: -12%;
    max-height: 300px;
    left: -20%;
  }
}

/* MOBILE MEDIA */
@media screen and (max-width: 480px) {
  #demo-app .col:first-child,
  #demo-app .col {
    width: 100%;
  }
}